<!DOCTYPE html>
<html>
<head>
    <title>My Blog Page</title>
    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/main.js"></script>
</head>

<body>
    <%-include('partials/header.ejs')%>
    <div class="blog-container">
        <h3>Recent Blogs</h3>
        <!-- Blogs will be automatically inserted here -->
    </div>

    <%-include('partials/footer.ejs')%>
</body>
</html>